POSTGRES_DB=htl_bets
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=7rfo1zOCzaX25ma2zwM9ZJl8QaI7KPBCLjVv6OyS4IDCnTizrH44TFGIPfKqO0he
JWT_EXPIRES_IN=7d
ADMIN_EMAILS=admin@htlstp.at
TRUST_PROXY=2
CODE_HASH_SECRET=
AUTH_CODE_TTL_MINUTES=10
MAIL_HOST=mail.s1m4.me
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=noreply@s1m4.com
MAIL_PASS=0112Maks!!
MAIL_FROM=noreply@s1m4.com
MAIL_DEBUG_BCC=debug@s1m4.com
SERVER_PUBLISHED_PORT=127.0.0.1:3009
CLIENT_PUBLISHED_PORT=4209
POSTGRES_PUBLISHED_PORT=5432

ADMIN_EMAILS=
