    <div class="hand" [ngClass]="{
    'player-hand': !isDealer
    }">
      <div class="hand__header">
        <div class="hand__title">
          <h3>{{ label }}</h3>
          @if (caption) {
            <span class="hand__caption">{{ caption }}</span>
          }
        </div>
        <span class="pill">Score: {{ score }}</span>
      </div>

      <div class="hand__cards">
        @for (card of renderCardViews; track card.key) {
          <div class="card" [class.hidden]="card.hidden">
            <div class="card__inner">
              <div class="card__face card__face--back">
                  <img [src]="backImageUrl" alt="">
              </div>

              <div class="card__face card__face--front">
                  <img [src]="card.asset" alt="">
              </div>
            </div>
          </div>
        }
      </div>
    </div>
